.item-list {
  border: 1px solid black;
  background-color: rgb(210, 207, 207);
}

.supplier-block{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid;
    margin-bottom: 15px;
}

.wrong{
    background-color: red;
    color: white;
}

.correct{
    background-color: rgb(14, 128, 14);
    color: white;
}

.in-correct{
    background-color: red;
    color: white;
}

.correct, .in-correct{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label input{
    width: 250px;
}
button{
    width: 150px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin: 5px ;
    border: none;
    box-shadow: 5px 5px 10px rgb(85, 77, 77);
}
